@model SchoolDBAccess.StudentTable

@{
    ViewBag.Title = "Students";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentIdCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentIdCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmissionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmissionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousClassAverage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousClassAverage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherOccupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherOccupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherOccupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherOccupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherPhoneNo_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherPhoneNo_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherPhoneNo_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherPhoneNo_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassTable.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgramTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramTable.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionTable.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserTable.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.FullName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-success" />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })
    </div>
    }
</div>
