@model SchoolDBAccess.ClassSubjectTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClassSubjectTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassTable.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectTable.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClassSubjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
