@model IEnumerable<SchoolDBAccess.MarksTable>

@{
    ViewBag.Title = "Marks";
}

<h2>Add</h2>

<p>
    @Html.ActionLink("Create New Mark", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Marks</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ExamTable.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ClassSubjectTable.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StudentTable.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SubjectTotalMarks)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SubjectMarksAttained)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserTable.FullName)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExamTable.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClassSubjectTable.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentTable.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubjectTotalMarks)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubjectMarksAttained)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserTable.FullName)
                        </td>
                        <td class="btn-group">
                            @Html.ActionLink("Edit", "Edit", new { id = item.MarksID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Details", "Details", new { id = item.MarksID }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.MarksID }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>