@model SchoolDBAccess.StudentAttendanceTable

@{
    ViewBag.Title = "Student Attendance";
}

<h2>Details</h2>

<div>
    <h4>Student Attendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AttendanceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendanceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassTable.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionTable.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentTable.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentAttendanceID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
